<%- include('./partials/header') %>

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-fluid">

				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">User Details</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
                    <button type="button" class="btn app-btn-secondary new-user">
                      Add New User
                    </button>
									</div>
							</div>
						</div>
					</div>
				</div>

				<!-- ---------------- USER TABLE ---------------- -->
				<div class="tab-content" id="courier-table-tab-content">
					<div class="tab-pane fade show active" id="User-all" role="tabpanel">
						<div class="app-card app-card-orders-table shadow-sm mb-5 p-3 card-neumorphic">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left" id="userList">
										<thead>
											<tr>
                        <th class="cell">Sr. No</th>
												<th class="cell">First Name</th>
												<th class="cell">Last Name</th>
												<th class="cell">Nick Name</th>
												<th class="cell">Email</th>
												<th class="cell">DOB</th>
												<th class="cell">Gender</th>
												<th class="cell"></th>
												<th class="cell"></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ----------------  USER TABLE ---------------- -->

				<!-- ---------------- USER MODAL ---------------- -->
				<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="userModalLabel">User Detail</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form class="settings-form" method="POST" id="user-form" name="user-form">
									<div class="form-row">
										<div class="mb-3">
											<label for="setting-input-1" class="form-label req">First Name</label>
											<input type="text" class="form-control" id="firstName" name="firstName">
										</div>
										<div class="mb-3">
											<label for="setting-input-2" class="form-label req">Last Name</label>
											<input type="text" class="form-control" id="lastName" name="lastName">
										</div>
									</div>
									<div class="form-row">
										<div class="mb-3">
											<label for="setting-input-2" class="form-label req">Nick Name</label>
											<input type="text" class="form-control" id="nickName" name="nickName">
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label req">Email</label>
											<input type="email" class="form-control" id="email" name="email">
										</div>
									</div>
									<div class="form-row">
										<div class="mb-3">
											<label class="setting-input-3 req">Gender</label>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gender" id="male" value="Male">
												<label class="form-check-label" for="male">Male</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gender" id="female" value="Female">
												<label class="form-check-label" for="female">Female</label>
											</div>
										</div>
										<div class="mb-3">
											<label for="setting-input-3" class="form-label req">DOB</label>
											<input type="date" class="form-control" id="dob" name="dob">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<input id="add_user" type="button" class="btn app-btn-primary add-btn" value="Add User">
								<input id="edit_user" type="button" class="btn app-btn-primary hide" value="Update User">
							</div>
						</div>
					</div>
				</div>
				<!-- ---------------- USER MODAL ---------------- -->
			</div>
		</div>
		<%- include('./partials/footer') %>

		<script type="module" src="../assets/js/script/user.js"></script>

</body>
</html>