.card-neumorphic {
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgb(55 84 170 / 0%), inset 0 0 20px rgb(255 255 255 / 0%), 7px 7px 15px rgb(55 84 170 / 15%), -7px -7px 20px white, inset 0px 0px 4px rgb(255 255 255 / 20%) !important;
  /* background: #f1f3f6; */
}

.card-neumorphic table tbody tr {
  /* background: #f1f3f6; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.req {
  position: relative;
}

label.req::before {
  content: "*";
  position: absolute;
  left: -8px;
  top: -1px;
  color: #bb2a3c;
}

.hide {
  display: none !important;
}

label.error {
  color: red;
  font-style: italic;
  font-size: 15px;
}

th,
td {
  white-space: nowrap;
  text-align: center;
}

td.dt-control {
  text-align: center;
  cursor: pointer;
  color: forestgreen;
}

tr.shown td.dt-control {
  text-align: center;
  color: red;
}

.user-detail table tr td {
  text-align: left;
}

.party-detail table tr td {
  text-align: left;
}

.party-detail table,
.user-detail table {
  width: 100%;
  padding: 5px 15px;
}

.party-detail table {
  max-width: 905px;
}

.user-detail table {
  max-width: 800px;
}

.sub-label {
  color: black;
  font-weight: bold;
}

.modal-content {
  padding: 0px 15px !important;
}

select.form-control {
  padding-top: 6px;
}

.fieldsetClass {
  border: solid 1px #5d6778;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
}

.legendClass {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #fff;
  width: auto;
  padding: 0 10px;
  position: absolute;
  top: -13px;
  left: 15px;
}

.select2-selection__arrow {
  top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 37px !important;
  right: 5px !important;
}

.select2-container .select2-selection--single {
  height: 39px !important;
  border-color: #e7e9ed;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px !important;
}

/* ---------- ACCORDION ---------- */
.accordion-button {
  padding: 16px 0px;
  width: 100%;
  max-width: 117px;
}

.accordion-body {
  padding: 16px 0px;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.accordion-header {
  display: none;
}

/* ---------- & ACCORDION ---------- */
.form-top-right-addbtn {
  max-width: 160px;
  width: 100%;
  margin-left: auto;
}

.form-top-right-addbtn a:hover {
  color: #15a362;
}

.hideFieldset {
  display: none;
}

.childTr {
  background-color: #f1f3f6 !important;
}

.fa-trash-alt {
  color: #bb2a3c;
}

.fa-pencil-alt {
  color: #15a362;
}

.fa-eye {
  color: #096270;
  font-size: 14px;
}

.fa-plus {
  color: #d09109;
  font-size: 14px;
}

.table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 9px 10px 9px;
}

input[type="checkbox"] {
  height: 19px;
  width: 19px;
}

.flex-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 182px;
}

.flex-class label {
  margin: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 5px !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current {
  background: #15a362 !important;
  color: white !important;
  border: 1px solid #15a362 !important;
  border-radius: 4px !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
  background: white !important;
  color: black !important;
  border: 1px solid #15a362 !important;
  border-radius: 4px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black !important;
  border-radius: 4px;
  border: 1px solid #15a362;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black !important;
}

.page-utilities .app-btn-secondary {
  background: #15a362;
  color: white;
  border: 1px solid #15a362;
}

.page-utilities .app-btn-secondary:active,
.page-utilities .app-btn-secondary:focus,
.page-utilities .app-btn-secondary:hover {
  background: white;
  color: #15a362;
  border: 1px solid #15a362;
}

.app-header-inner .container-fluid {
  padding-right: 37px !important;
}

.checkbox-label {
  margin-top: 4px !important;
}

.fa-plus-circle {
  font-size: 16px;
}

.app-content {
  min-height: calc(100vh - 56px - 56px) !important;
  height: 100%
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white !important;
}

.app {
  background: #f4f6f9 !important;
}

.fa-list-ul {
  color: #270d8d;
}

@media(max-width: 926px) {
  .app-header-inner .container-fluid {
    padding-right: 1.5rem !important;
  }
}

.btn-outline-primary {
  color: #15a362 !important;
  border: 1px solid #15a362 !important;
}

.btn-outline-primary:hover svg {
  color: #fff;
}

.btn-outline-danger {
  color: #dc3545 !important;
  border: 1px solid #dc3545 !important;
}

.btn-outline-danger:hover svg {
  color: #fff;
}